
<div class="container">
<q>The key to Terminal wisdom is the man command. It summons manual
  (or man) pages for almost any command; they’re the equivalent of a
  help system for the command line. In fact, man itself is a command,
  whose role is to format and display this documentation.</q>

  <a href="http://www.macworld.com/article/2044790/master-the-command-line-how-to-use-man-pages.html"
      target="_blank"> Learn More </a>

</div>
