<html>
  <head>
    <title>Man Pages Cheatsheet</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Lato:100,300,400|Poppins:300,700" rel="stylesheet">
  </head>
  <body class="wrapper">

  <header class="head">
    <h1>SUMMON THE MAN(ual)</h1>
    <h3 class="tagline">learn to command man</h3>
  </header>


    <nav class="container nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/command">Command Line</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>


<!--     CONTENT     -->
    <%= yield %>
<!--     CONTENT     -->

  </body>
</html>
