header,
h1, h2, h3, h4, ul, li, p, form{
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

body {
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header {
  margin-top: 20px;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #a9b2b9;
}
ul {
  list-style: none;
}
input {
  margin: 10px 0 0;
}
form {
  padding-bottom: 0;
}
.head {
  font: 700 36px/42px "Poppins", "Lato", Helvetica, sans-serif;
  letter-spacing: .5px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}
.tagline {
  font-weight: 400;
  text-align: left;
}
.wrapper,
.container {
  margin: 0 auto;
}
.wrapper {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
.container {
  width: 60%;
}
.main {
  margin-top: 30px;
}
.left-menu {
  width: 15%;
  float: left;
}
.nav {
  color: #063037;
  font-size: 24px;
  letter-spacing: .5px;
  text-align: right;
  border-bottom: 1px solid black;
}
.nav li {
	display: inline-block;
	margin: 0 10px 5px;
	vertical-align: top;
}
.nav li:last-child {
	margin-right: 0;
}
